*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #0F0F0F;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#t{
    font-size: 32px;
    font-family: monospace;
    font-weight: 700;
}

